Package                       Version
----------------------------- --------------------
awkward                       2.6.5
captum                        0.7.0
mplhep                        0.3.46
numba                         0.60.0
numpy                         1.25.0
onnx                          1.17.0
onnxruntime                   1.16.3
pandas                        2.0.2
pyarrow                       19.0.0
scikit-learn                  1.3.0
scipy                         1.11.1
torch                         1.12.1
torchaudio                    0.12.1
torchbnn                      1.2
torchvision                   0.13.1
tqdm                          4.65.0
uproot                        5.3.7
vector                        1.4.1
